.button {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(56, 57, 59);
  color: white;
  align-items: center;
  padding: 0.5rem 8rem;
  margin: 0.5rem;
  border-left: 0.5px rgb(0, 0, 0);
  border-right: 0.5px rgb(0, 0, 0);

}

.sideMenu {
  display: flex;
  flex-flow: column;
}