.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.content__container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  background-color: rgb(0, 0, 0);
}

.todos {
  display: flex;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  margin: 2rem auto;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

.left-bar {
  display: flex;
  justify-content: flex-start;
  flex-basis: 0;
  flex-grow: 1;
  align-items: flex-start;
  padding: 1rem;
  padding-left: 4rem;
  background-color: rgb(128, 128, 128, 0.1);
  margin: 2rem auto;
  height: 40rem;
  max-width: 65%;
  width: auto;
  border-style: groove;
  border-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  justify-content: center;
  display: flex;
  text-align: center;
  color: white;
  background-color: #000000;
  border-bottom-style: dashed;
  border-bottom-color: aliceblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}